<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <test name="AutomationEcommerce" verbose="2" preserve-order="true">
        <classes>
            <class name="AmazonTest"/>
        </classes>
    </test>
</suite>
